/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
	/* 1140px */
	max-width: 120rem;
	margin: 0 auto;
	padding: 0 3.2rem;
}
